<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="/asset/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/9bcb22e9cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About Us</title>
</head>

<body>
    <!-- navbar -->
    <nav class="sticky top-0">
        <!-- mobile -->
        <div class="navbar bg-gray-200 flex lg:hidden justify-between px-10">
            <div class="navbar-start">
                <a href="index.html" class="nav-logo">
                    <img src="/asset/logo.png" alt="logo png" width="92" class="hover:scale-125 ease-in duration-200">
                </a>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="hover:bg-gray-300 rounded-2xl p-3">
                    <i class="fa-solid fa-bars-staggered fa-flip-horizontal fa-2xl text-black"></i>
                </div>
                <ul tabindex="0"
                    class="menu menu-lg dropdown-content mt-3 z-[1] p-2 rounded-2xl w-56 bg-amber-400 text-black bg-opacity-80">
                    <li><a href="../index.html" class="text-2xl font-semibold text-white rounded-2xl">Home</a></li>
                    <li><a href="about.html" class="text-2xl font-semibold text-white rounded-2xl">About Us</a></li>
                    <li><a href="contact.html" class="text-2xl font-semibold text-white rounded-2xl">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- mobile -->
        <!-- dekstop -->
        <div class="bg-gray-200 flex nav-menu max-lg:hidden justify-between px-10 py-2">
            <div class="pl-4">
                <a href="index.html" class="nav-logo">
                    <img src="/asset/logo.png" alt="logo png" width="92" class="hover:scale-125">
                </a>
            </div>
            <div class="nav-menu">
                <ul class="menu menu-horizontal px-1 text-xl">
                    <li class="pr-2 my-3 border-r-2 border-gray-400"><a href="../index.html"
                            class="pr-2 ms-2 text-black font-semibold hover:scale-90">Home</a>
                    </li>
                    <li class="pr-2 mt-2 mb-3 border-r-2 border-gray-400 "><a href="about.html"
                            class="bg-amber-400 mx-2 ml-4 mt-1 px-6 py-2 rounded-3xl text-white font-semibold hover:bg-amber-500 hover:scale-90">About
                            Us</a>
                    </li>
                    <li class="pr-2 mt-2 mb-3"><a href="contact.html"
                            class="pr-2 ms-2 text-black font-semibold hover:scale-90">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- dekstop -->
    </nav>
    <!-- navbar end -->
    <!-- hero -->
    <main>
        <div class="about">
            <div class="flex">
                <h1 class="text-white font-bold select-none ">Berikan senyuman
                    pada hari Anda
                    dengan
                    satu
                    klik di
                    WirCafe. <br>
                    Kemudahan
                    dalam
                    setiap pesanan</h1>
            </div>
        </div>
    </main>
    <!-- hero end -->
    <!-- desc -->
    -DESC- <br><br><br><br>
    <!-- desc end-->
    <!-- fitur -->
    -OUR FITUR- <br><br><br><br>
    <!-- fitur end-->
    <!-- team -->
    -TEAM- <br><br><br><br>
    <!-- team -->
    <!-- footer -->
    <footer>
        <div class="footer p-10 bg-base-200 text-base-content flex bg-amber-400 text-white justify-around">
            <aside>
                <img src="/asset/logo.png" width="100" alt="logo wirçafe">
                <span>
                    <h1 class="text-2xl font-medium select-none">WIRÇAFE INDONESIA</h1>
                    <p>Jl. Raya Tengah No.80, RT.6/RW.1, Gedong, Kec. Ps.
                        Rebo, Jakarta Timur,
                        DKI Jakarta 13760</p>
                </span>
            </aside>
            <nav>
                <h6 class="footer-title select-none">Menu</h6>
                <a class="link link-hover hover:scale-[1.2]" href="/index.html" target="_blank">Home</a>
                <a class="link link-hover hover:scale-[1.2]" href="about.html" target="_blank">About Us</a>
                <a class="link link-hover hover:scale-[1.2]" href="contact.html" target="_blank">Contact Us</a>
            </nav>
            <nav>
                <h6 class="footer-title select-none">Community</h6>
                <a class="link link-hover hover:scale-[1.2]" href="https://www.instagram.com/xryar_/"
                    target="_blank">Instagram</a>
            </nav>
        </div>
    </footer>
    <!-- footer end -->

</body>

</html>